<div id="comments">
	<p>
		<strong><%= pluralize opinion.comments.count, "comment" %>
		</strong>
	</p>
	<%# Expands to render partial: "comments/comment", collection: decision.comments %>
	
	<%= render opinion.comments %>
	<br>	
</div>

<%= render "comments/new", opinion: opinion %>