<div id="comments">
	<p>
		<h3>Comments (<%= opinion.comments.count  %>)</h3>
	</p>
	<%# Expands to render partial: "comments/comment", collection: decision.comments %>
	
	<%= render opinion.comments %>
	<br>	
</div>

<%= render "comments/new", opinion: opinion %>
<br>