/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

mark {
  background-color: black;
  color: white;
}

h1 {
	font-size: 2.6em;
	margin-bottom: 20px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 a:link {
	text-decoration:none;
	color: #000000;
}

h1 a:visited {
	text-decoration:none;
	color: #000000;
}

#signup {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #d4edda; 
	border: solid 1px;
	border-radius: 5px;
	padding: 15px;
}

h2 {
	font-size: 1.9em;
	margin-top: 5px;
	margin-bottom: 5px;	
}

h3 {
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.field {
}

#thanks {
	color: green;
	font-size: 28px;
}

.paper {
	padding: 10px;
}

article {
	border: none;
}

.paper:hover {
	background-color: #F5F5F5;
}

.sentence {
  background-color: white;
}

.highlight {
  background-color: yellow;
}

#comments {
	border-top: solid 1px gray;
}